@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

@*login page*@
@*+redirect to create account page*@
@*if user is logged in show profile of user
else show login page*@


<SurveyPrompt Title="How is Blazor working for you?" />
